
body{
    margin: 0;
    padding: 0;
    background: palegreen;
}
#container{
    width: 80%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
    background: burlywood;
    border-radius: 30px;
}
#container h2{
    text-align: center;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

.input-section{
    display: flex;
}
.input-section input{
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blue;
    }
    .input-section input:focus{
        border: none;
    }
.input-section button{
    
    margin-left: 5px;
    background: blue;
    color: white;
    width: 20%;
    border-radius: 10px;
    border: none;
}
.list-section ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 20px;
    border-radius: 10px;

}
.list-section ul li{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    background: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.list-section ul li .done{
    text-decoration: line-through;
    text-decoration-color:red ;
    text-decoration-thickness:1px ;
}
.list-section ul li .close{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    margin: 3px 3px ;
    color: white;
}

